{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Betty">
    <meta name="description" content="Digital wedsite speciaalized in creating high quality website for enterprises">
    <title>Gateway project</title>
    <link rel="stylesheet" type="text/css" href="{% static 'gateway.css' %}" /> 
</head>
<body>
    <div class=" col-12 mainDiv">
    
        <div class="topNav">
            
            <a class="logo" href="/">
                <img src="logo-2.png" height="50"> 

            </a>
            
            <div class="business">
                <ul>
                    <li><a href="#contact">CONTACT</a></li>
                    <li><a href="#services">SERVICES</a></li>
                </ul>

            </div>
        </div>
        
        <div class="star">
            <div>
                <h1>Your Gateway</h1>
            </div>
            <span>
                <img src="arrow.svg" height="60px ">
            </span>

        </div>
        <div class="customized">
            <h2>What We Do</h2>
            <p id="para">We adapt to your business and create a customized experience</p>
            
            <div class="flexD">
                <div class="Develop">
                    <h3>Web Development</h3>
                    <p id="paraG">We create high quality,modern and performant website for small businesses to enterprise</p>
                </div>
                <div class="marketing">
                    <h3>Marketing</h3>
                    <p id="par">We are expert with search engine optimization and social media marketing </p>
                </div> <br>
            </div>
            <button class="btn">View All Services</button>
        </div>
        
        <div class="need" style="background-color: whitesmoke; height: 450px;">
                <h2>What do you need?</h2>
                <p class="new-para" >Select as many as you want</p>
            <div>
                <span style="margin-left: 450px;"><a>+ New Website</a></span>
                <span><a>+ Website Work</a></span> <br><br><br>
            </div>
                <span style="margin-left: 400px;"><a>+ Search Engine Optimization</a></span>
                <span><a>+ Online Shop</a></span> <br><br><br>
            <div>    
                <span style="margin-left: 450px;"><a>+ Consulting</a></span>
                <span><a>+ Something Else</a></span>
            </div>
        </div>

        <div class="mobile">
            <div class="phone">
                <ul>
                    <li><a href="https://www.gatewayweb.net" style="padding-left: 400px;">HOME</a></li>
                    <li><a href="https://www.gatewayweb.net/Contact">CONTACT</a></li>
                    <li><a href="https://www.facebook/GW.web">FACEBOOK</a></li>
                    <li><a href="https://www.instagram/gatewaynet/">INSTAGRAM</a></li>
                </ul>
                <p>@Copyright 2022 Gatewayweb.net</p>
            </div>
        </div>


    </div>
    
</body>
</html>